.setting-main-container {
	display: grid;
	grid-template-rows: 70px 40%;
	background-color: #1f2024;
	border-radius: 10px;
	box-shadow: 0px 0px 16px 0px rgb(28 29 33);
	border: 1px solid #3334384f;
	z-index: 10;
}

.setting-main-container-header {
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
}

.setting-main-container-header h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 22px;
	margin: 0;
}

.setting-main-container-body {
	margin: 20px 20px 0px 20px;
}
.setting-main-container-body h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}


/* .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
	height: 5px;
	margin: 0;
} */


@media (max-height: 850px) {
    .settings-header-info h2 {
        font-size: 20px;
    }
	.settings-header-info {
		margin-top: 10px;
		
	}
}

@media (max-height: 800px) {
    .settings-header-info h2 {
        font-size: 18px;
    }
	.settings-header-info {
		margin-top: 20px;
		
	}
}

@media (max-height: 770px) {
    .settings-header-info h2 {
        font-size: 16px;
    }
	.settings-header-info {
		margin-top: 30px;
		
	}
}

.settings-profile-confirm-email {
	background-color: #23242A;
	display: grid !important;
	/* width: 370px;
	height: 585px; */
	width: fit-content;
	height: fit-content;
	border-radius: 20px;
	grid-template-rows: fit-content;
	box-shadow: 0px 0px 16px 0px #1f2024;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	padding: 20px 20px 40px 20px;
	justify-content: center;
	text-align: center;
	justify-items: center;
}


.settings-profile-confirm-email h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
	-webkit-text-fill-color: #fff !important;
}

#change:hover {
	color: rgb(167, 167, 167);
}

.css-16x2zzn-MuiButtonBase-root-MuiButton-root:hover {
	background-color: rgba(96, 25, 210, 0.04) !important;
}